<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kursovik_UD.Properties.Settings.TaxiConnectionString" connectionString="character set=WIN1251;data source=127.0.0.1;user id=sysdba;Password=masterkey;initial catalog=&quot;C:\Program Files (x86)\Firebird\Firebird_2_5\examples\empbuild\TAXI.FDB&quot;" providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>